* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --color-primary: #020d18;
  --color-secondary: #f1c40f;
}

body {
  font-family: 'Poppins', sans-serif;
  font-size: 16px;
  background-color: var(--color-primary);
  color: #fff;
}

a {
  text-decoration: none;
  color: #fff;
}

.active {
  color: var(--color-secondary);
  font-weight: 700;
}

.text-secondary {
  color: var(--color-secondary);
}

.main-header {
  padding: 20px 0;
  background-color: black;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 20px;
}

.logo {
  font-size: 25px;
  font-weight: 700;
}

.main-header .container,
.main-footer .container {
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.main-header ul,
.main-footer ul {
  display: flex;
}

.main-header ul li,
.main-footer ul li {
  list-style-type: none;
  margin-left: 20px;
}

.now-playing {
  background: url('../images/showcase-bg.jpg') no-repeat center center / cover;
  padding: 60px;
}

.now-playing h2 {
  text-align: center;
  margin: 20px 0;
  text-transform: uppercase;
}

.search {
  margin-top: 60px;
}

.search .container {
  display: flex;
  justify-content: center;
}

.search-form {
  width: 600px;
}

.search-radio {
  display: flex;
}

.search-radio > div {
  margin-right: 20px;
}

.search-flex {
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
}

.search .container form input[type='text'] {
  flex: 6;
  width: 100%;
  background-color: var(--color-primary);
  border: 1px solid #fff;
  border-radius: 5px;
  height: 50px;
  padding: 10px;
  font-weight: 400;
  margin-right: 10px;
  color: #fff;
}

.search .container form button[type='submit'] {
  flex: 1;
  width: 100%;
  height: 50px;
  background-color: var(--color-secondary);
  border: none;
  border-radius: 5px;
  padding: 10px;
}

.swiper {
  width: 100%;
}

.swiper-slide {
  background-color: var(--color-primary);
  text-align: center;
}

.swiper-slide img {
  width: 100%;
}

.swiper-rating {
  padding: 10px;
}

.popular-movies {
  display: grid;
  gap: 30px;
  grid-template-columns: repeat(auto-fit, 1fr);
  margin-top: 60px;
}

.card {
  background-color: #04376b;
  padding: 5px;
}

.card:hover {
  transform: scale(1.05);
  transition: all 0.5s ease-in-out;
  background: #0a4b8f;
}

.card img {
  width: 100%;
}

.card .card-body {
  padding: 10px;
}

.card .title {
  font-weight: 900;
}

/* Media Querys */

@media only screen and (max-width: 768px) {
  .main-header .container {
    max-width: 100%;
    margin: 0;
  }
}
